html {
  font-size: 62.5%;
}

header {
  padding: 4% 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  display:grid;
  grid-template-rows: 100px 120px 70px 1fr;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

.select-area {
  border: 1px solid black;
  padding: 5px;
  font-size: 2rem;
  margin-bottom: 20px;
}

#radioBtn {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

#message-area {
  color: red;
  background-color: #ffb6c1;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 10px;
  display: none;
}

#message {
  line-height: 5rem;
}

.profiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  text-align: center;
}