html {
    font-size: 62.5%;
}

body {
    font-family:-apple-system, "system-ui", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
    background-color: #fff;
    max-width: 1200px;
}

header {
    height: 60px;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 10px 0;
}

.header-left img {
    width: 100px;
    height: auto;
}

.header-right {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.icon {
    width: 20px;
    height: auto;
}

#my_icon {
    width: 40px;
    height: auto;
}

#post_button {
    display: none;
}

.container {
    background-color: #EDF2F7;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
}



.title {
    margin: 0 auto;
}

main {
    margin: 0 auto;
    background-color: #FFF;
}

.discussion {
    background-color: #FFF;
    
}


/* スマホ表示2 */
@media screen and (min-width: 576px){
    /* headerの『投稿する』ボタン表示 */
    .header-right {
        width: 250px;
    }

    #post_button {
        display: block;
        width: 90px;
        height: 35px;
        background-color: #3EA8FF;
        border-radius: 7px;
        color: #fff;
        font-size: 14px;
        font-weight: 800;
    }

    #post_button:hover {
        cursor:pointer;
        background-color: #0F83FD;
    }
}

/* iPadの設定 */
@media screen and (min-width: 990px){
    /* headerの二段目が消える */
    /* aside表示 */
}

/* PCの設定 */
@media screen and (min-width: 1300px){
    /* 左側のいいねボタンとツイートボタン表示 */
}