html {
    font-size: 62.5%;
}

body {
    font-family:-apple-system, "system-ui", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
    margin: 0 auto;
    color: #303132;
    background-color: #EDF2F7;

}

.icon {
    width: 20px;
    height: auto;
}

.heart_icon {
    width: 40px;
    height: auto;
}

p {
    font-size: 1.6rem;
}

h2 {
    font-size: 2.7rem;
}

img {
    width: 100%;
}

header {
    height: 60px;
    padding: 10px 15px;
    background-color: #FFF;
    border-bottom: 1px solid #E6EEF4;
}

header .header_container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_left img {
    width: 100px;
    height: auto;
}

header .header_right {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

header #my_icon {
    width: 40px;
    height: auto;
}

header #post_button {
    display: none;
}

.container {
    max-width: 1200px;
    background-color: #EDF2F7;
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    /* ReadNextの高さが測れないので仮 */
    grid-template-rows: 60px 290px 1fr 1000px;
    grid-template-areas:
        "Aside"
        "Title"
        "Main"
        "ReadNext";
}

.title {
    grid-area: Title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px 0;
    text-align: center;
}

.title img {
    text-align: center;
    margin: 0 auto;
    width: 65px;
    height: 70px;
}

.title h1 {
    font-size: 2.2rem;
}

.title p {
    font-size: 1.45rem;
    color: #65717B;
}

aside {
    grid-area: Aside;
    background-color: #fff;
    padding: 0 15px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

aside .article_data {
    display: none;
}

aside .account_data_forsp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

aside .account_data {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .account_data img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

aside .account_name {
    font-size: 1.4rem;
    font-weight: 600;
}

aside .account_text {
    display: none;
}

nav {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    font-size: 1.4rem;
    color: #65717B;
}


nav #arrow_icon {
    width: 10px;
    height: auto;
}

main {
    grid-area: Main;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

main .main_contents {
    display: grid;
    gap: 50px;
}

main .main_contents h2 {
    border-bottom: 1px solid #E6EEF4;
    margin-bottom: 20px;
}

main .icon_area {
    padding: 10px 0;
    margin-bottom: 20px;
}

main .icon_area button {
    width: 80px;
    height: 33px;
    background-color: #fff;
    border: 1px solid #E7EFF5;
    border-radius: 25px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

main .icon_area button img {
    width: 25px;
    height: 25px;
}

main .icon_area button p {
    font-size: 1.15rem;
}

main .web_editor p, details {
    margin-bottom: 20px;
}

main details {
    border: 1px solid #E2ECF3;
    border-radius: 10px;
    /* TODO: 背景色がpadding部分につかないので調整する */
    padding: 9.5px;
}

main details span {
    display: inline-block;
}

main summary {
    font-size: 1.368rem;
}

main details[open] summary{
    background-color: #F1F5F9;
}

main details[open] .summary_contents {
    border-top: 1px solid #E2ECF3;
}

.read_next {
    grid-area: ReadNext;
    background-color: beige;
}

footer {
    height: 290px;
    background-color: #fff;
}


/* スマホ表示2 */
@media screen and (min-width: 576px){
    /* headerの『投稿する』ボタン表示 */
    header .header_right {
        width: 250px;
    }

    header #post_button {
        display: block;
        width: 90px;
        height: 35px;
        background-color: #3EA8FF;
        border-radius: 7px;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 800;
    }

    header #post_button:hover {
        cursor:pointer;
        background-color: #0F83FD;
    }
}

@media screen and (min-width: 768px){
    /* titleが大きくなる */
    /* Read nextが2列になる */
    /* footerが4列になる */
    .title h1 {
        font-size: 30px;
    }
}


/* iPadの設定 */
@media screen and (min-width: 993px){
    /* asideは上ではなく横に表示 */
    /* footerのロゴが左端にくる */

    .container {
        grid-template-columns: 4fr 1fr;
        /* ReadNextの高さが測れないので仮 */
        grid-template-rows: 290px 1fr 1000px;
        grid-template-areas: 
            "Title Title"
            "Main Aside"
            "ReadNext ReadNext"
    }

    .title .article_data_forsp {
        display: none;
    }

    main {
        margin-right: 25px;
    }
}

/* PCの設定 */
@media screen and (min-width: 1300px){
    /* 左側のいいねボタンとツイートボタン表示 */

}